.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .header button {
    margin-right: 10px;
    margin-top: 10px;
    margin-left: auto;
    width: 200px;
    height: 60px;
  }